body {


  .top-nav {
    padding: 3%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  //closing top-nav


  header {
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media @mobile {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
    }

    //closing body @media
  }

  //closing header

  h1 {
    width: 40%;

    @media @mobile {
      display: block;
      text-align: center;
      width: 100%;
    }

    //closing @media
  }

  //closing h1

  .bus {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-top: 2px dashed @navigation-border;
  }

  //closing .bus


  .content-section {
    border-top: 2px dashed @navigation-border;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    //closing @media
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
      }

      //closing @media
    }

    //closing text-content
    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 90%;
      }

      //closing @media
      img {
        border-radius: 10px;
      }

      //closing  img
    }

    //closing img content
  }

  //closing content section

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {
      display: flex;
      flex-direction: column-reverse;
    }

    //closing @media
    .text-content {
      padding-left: 1%;
      padding-right: 0;
      display: flex;
      flex-direction: column-reverse;

      @media @mobile {
        width: 100%;
        padding: 0;
      }

      //closing @media
    }

    //closing text-content
  }

  // closing inverse-content
  .text-content {
    padding-left: 1%;
    padding-right: 0;

    @media @mobile {
      width: 100%;
      padding: 0;
    }

    //closing @media
  }

  //closing text-content
  .img-content {
    padding-right: 1%;
    padding-left: 0;

    @media @mobile {
      width: 100%;
      padding: 0;
    }

    //closing @media
  }

  //closing img-content




  .content-destination {
    width: 75%;

    img {
      border-radius: 10px;
    }

    //closing img
  }

  //closing .content-destination

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    //closing @media


    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;


      }

      //closing @media

      .button {
        .buttons(@eastern-blue, white, 1.8rem);

        @media @mobile {
          width: 100%;
          align-items: center;
        }

        //closing @media
      }

      //closing button          }//closing destination
    }

    //closing destination
  }

  //closing content-pick
}

//closing body